<ul class=thumbnails>
  <li class="span4">
    <div class="thumbnail">
    <%= image_tag @user.avatar.url(:large) %>
    <div class="caption">
      <h1><%= @user.name %></h1>

    </div>
  </div>
  </li>


</ul>




  <% if @user.campaign_administrator %>
    <%= link_to "Create Another Campaign", new_campaign_path, :id => "new-campaign-link", :class => "btn btn-primary" %>
    <% if !@campaigns_i_administrate.empty? %>
    <h2>Campaigns I Administrate: </h2>
     <%= render :partial => "shared/campaigns", :locals => {:campaigns => @campaigns_i_administrate } %>
    <% end %>

   <% end %>

   <% if !@campaigns.empty? %>
  <h2>Campaigns I Volunteered For: </h2>
  <%= render :partial => "shared/campaigns", :locals => {:campaigns => @campaigns } %>
  <% end %>
  
