<!DOCTYPE html>
<html>
<head>
  <title>Campaignstop</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="splash-wrapper">
    <h1>Campaign Stop</h1>


    <br />
    <p id="splash-descrip"><i>Campaign Stop has a single purpose, improving the experience of activists on campaigns and saving time.
  
      Use it to divide up your turf and reach houses more effiently.  <br /> <br />
      </i></p>


    <%= link_to "Sign Up!", new_user_registration_path, :class => "btn btn-primary" %> or <%= link_to "Sign In!", new_user_session_path, :class => "btn btn-primary" %>

  </div>
</body>
</html>
