<!DOCTYPE html>
<html>
<head>
  <title>Campaignstop</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="wrapper">
     <div id="top-of-page">
       <%= link_to root_path do %><h1>CampaignStop</h1><% end %>

       <ul>
          <li><%= link_to "View Profile", current_user %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>

       </ul>

      </div>

    
    <%= yield %>
     <div id="footer">
        <ul id="footer-options">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>

        <p class="sid">
          <%= link_to "A Sid Shanker Project", "http://about.me/SidShanker" %>
        </p>

     </div>


   </div>

</body>
</html>
